<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="./assets/styles/login.css" />
  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="check" />
      <div class="login form">
        <header>Login</header>
        <form action="#" method="post">
          <input
            type="text"
            name="email"
            placeholder="Enter your email"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            required
          />
          <a class="inline_a" href="#">Forgot password?</a>
          <a class="inline_p" href="/">HOME</a>
          <input type="submit" class="button" value="Login" />
        </form>
        <div class="signup">
          <span class="signup"
            >Don't have an account?
            <a href="signUp"> Sign Up </a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <label for="check">Signup</label> -->
